<section class="containerforleftbar">
    {{>leftnavseller}}

    <section class="becomeSeller">
        <h3>Te quieres volver Seller?</h3>
        <a class="waves-effect waves-light btn orange accent-4" href="/profile/becomeSeller/confirm">Become a Seller</a>
    </section>



</section>