<section class="container-login">
  <section class="container-1-login">
    <div>
      <h2>Login</h2>
    </div>
    <div>
      <form class="form-login" action="/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        {{#if message }}
          <div class="error-message">{{ error }}</div>
        {{else}}
          <br>
        {{/if}}
        <input type="submit" value="Login">
        <br>
        <p class="account-message">Crear una cuenta <strong><a href="/signup">Signup</a></strong></p>
      </form>
    </div>
  </section>

  <section class="container-2-login">
    <div>
      <h3>Community</h3>
      <p>La plataforma digital que reune gente</p>
      <p>con la misma necesidad, para lograr un </p>
      <p>beneficio en común.</p>
    </div>
  </section>
</section>