<section class="container-login">
  <section class="container-1-login">
    <div>
      <h2>Login</h2>
    </div>
    <div>
      <form class="form-login" action="/login" method="POST">
        {{#if error }}
          <div class="error-message">{{ error }}</div>
        {{else}}
          <br>
        {{/if}}
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input type="email" id="autocomplete-input" class="autocomplete" name="email">
                <label for="autocomplete-input">Email</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="autocomplete-input" class="autocomplete" name="password">
                <label for="autocomplete-input">Password</label>
              </div>
              <div class="file-path-wrapper">
                <i class="material-icons right">input</i>
                <input class="file-path validate  orange accent-4" type="submit" placeholder="submit" value="Login">
              </div>
            </div>
          </div>
        </div>
        <p class="account-message">Crear una cuenta <strong><a href="/signup">Signup</a></strong></p>
    </div>
  </section>
  <section class="container-2-login">
    <div>
      <h3>Community</h3>
      <p>La plataforma digital que reune gente</p>
      <p>con la misma necesidad, para lograr un </p>
      <p>beneficio en común.</p>
    </div>
  </section>
</section>


