<section class="container-profile">
    <section class="container-1-profile">
        <h2>Profile</h2>
    </section>

    <section class="container-2-profile">
        <h4>{{username}}</h4>
        <img style="width:300px; border-radius:50%" src="{{picURL}}" alt="Profile Pic">
    </section>
</section>







