<section class="container-1-profile">
    <h2>Profile</h2>
    <a href="/profile"></a>
</section>

<section class="container-2-profile">
    <button> <a href="/buyer">Buyer</a> </button>
    <button> <a href="/seller">Seller</a> </button>
</section>





