{{#if e}}
    <h2><h2 style="color: red;">{{error}}</h2></h2>
{{else}}
    <h2>Sign Up</h2>
{{/if}}


<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="name">
    <br>
    <input type="email" name="email" placeholder="email">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="password" name="password2" placeholder="password">
    <br>
    <input type="submit" value="create-account">
    
</form>