<section class="leftnavbar">
    <div class="leftnavbuy selected">
        <a href="/buyer">Buyer</a>
    </div>

    <div class="leftnavsell unselected">
        <a href="/seller">Seller</a>
    </div>

    <div class="leftnavbuy unselected">
        <a href="/profile">Profile</a>
    </div>
</section>