<section class="containerforleftbar">
    {{>leftnavseller}}
    <section class="container-seller">
        <section class="container-1-seller">
            <h2>Seller</h2>
            <img class="container-1-seller-img" src="{{loggedUserPic}}" alt="Profile Picture">
        </section>

        <section class="container-2-seller">
            <a class="waves-effect waves-light btn orange accent-4" href="/seller/add"><i class="material-icons left">add</i>ADD</a>
            <a class="waves-effect waves-light btn orange accent-4" href="/seller/products"><i class="material-icons left">shop</i>VIEW ALL PRODUCTS</a>
        </section>
    </section>

</section>