<section class="containerforleftbar">
    {{>leftnavseller}}
    <section class="container-seller">
        <section class="container-1-seller">
            <h2>Seller</h2>
        </section>

        <section class="container-2-seller">
            <a class="a-2-seller-add" href="/seller/add">ADD product</a>
            <a class="a-2-seller-view" href="/seller/products">VIEW all your Products</a>
        </section>
    </section>

</section>