<section class="container-index">
    <section class="container-1-index">
        <div class="container-1-index-a">
           <h2>Community</h2>
        </div>
         <div class="container-1-index-b">
            <strong>Digital platform that brings together people with the same need, to achieve a common benefit.</strong> 
        </div>
    </section>

</section>
