<section class="container-index">
    <section class="container-1-index">
        <div>
           <p>Community</p>
        </div>
         <div class="container-1-index-b">
            <strong>Digital platform that brings together people with the same need, to achieve a common benefit.</strong> 
        </div>
    </section>

</section>
