<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Karla|Staatliches" rel="stylesheet">
  <title>Community</title>
</head>

<body>
  <nav>
    {{#if loggedUser}}
    <a href="/logout">Logout</a>
    <a href="/profile">Profile</a>
    {{else}}
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    {{/if}}
    <a href="/">Home</a>
  </nav>

  {{{body}}}

  <footer>
    footer
  </footer>

  <script src="/js/script.js"></script>
</body>

</html>