<section class="containerforleftbar">
    {{>leftnavbuyer}}
    <section class="container-seller">
        <section class="container-1-seller">
            <h2>Buyer</h2>
        </section>

        <section class="container-2-seller">
            <button><a href="/buyer/buyerproducts">VIEW all Products</a></button>
            <button><a href="/buyer/orders">VIEW my Orders</a></button>            
        </section>
    </section>
</section>