<section class="containerforleftbar">
    {{>leftnavbuyer}}
    <section class="container-buyer">
        <section class="container-1-buyer">
            <h2>Buyer</h2>
        </section>

        <section class="container-2-buyer">
            <a class="waves-effect waves-light btn orange accent-4" href="/buyer/buyerproducts"><i class="material-icons left">view_comfy</i>VIEW ALL PRODUCTS</a>
            <a class="waves-effect waves-light btn orange accent-4" href="/buyer/orders"><i class="material-icons left">shopping_cart</i>VIEW MY ORDERS</a>        
        </section>
    </section>
</section>