<section class="container-buyer">
    <section class="container-1-buyer">
        {{#each products}}
        <div>
            <a href="/buyer/buyerproducts/detail/{{id}}">{{this.title}}</a>
            
        </div>
        {{/each}}
    </section>
    <section class="container-2-buyer">
        
    </section>

</section>