<section class="container-seller">
    <section class="container-1-seller">
        <h2>Seller</h2>
        <h4>{{username}}</h4>
        <img style="width:300px; border-radius:50%" src="{{picURL}}" alt="Profile Pic">
    </section>

    <section class="container-2-seller">
        <button><a href="/seller/add">ADD product</a></button>
        <button><a href="/seller/products">VIEW all your Products</a></button>
    </section>
</section>


