<h2>Seller</h2>


<button><a href="/seller/add">Add Product</a></button>
<button><a href="/seller/products">View All your Products</a></button>
<button><a href="">View Product</a></button>
<button><a href="">Delete Product</a></button>