<section class="container-sellerAdd">
    <section class="container-1-sellerAdd">
        <h2>Products</h2>
    </section>

    <section class="container-2-sellerAdd">
        <form action="/seller/add" method="POST">
            <input type="text" name="title" placeholder="Title">
            <br>
            <input type="text" name="description" placeholder="Description">
            <br>
            <input type="text" name="details" placeholder="Details">
            <br>
            <input type="text" name="category" placeholder="Category">
            <br>
            <input type="number" name="unitPrice" placeholder="Unit Price">
            <br>
            <input type="number" name="minQuantity" min="" placeholder="Min Quantity">
            <br>
            <input type="number" name="maxQuantity" max="" placeholder="Max Quantity">
            <br>
            <input type="image" name="picUrl">
            <br>
            <input type="submit" value="ADD">
        </form>
    </section>
</section>



