<h2>Products</h2>

<form action="/seller/add" method="POST">
    <input type="text" name="title" placeholder="title">
    <br>
    <input type="text" name="description" placeholder="description">
    <br>
    <input type="text" name="details" placeholder="details">
    <br>
    <input type="text" name="category" placeholder="category">
    <br>
    <input type="number" name="unitPrice" placeholder="Unit Price">
    <br>
    <input type="number" name="minQuantity" min="" placeholder="Min Quantity">
    <br>
    <input type="number" name="maxQuantity" max="" placeholder="Max Quantity">
    <br>
    <input type="image" name="picUrl">
    <br>
    <input type="submit" value="ADD product">
</form>

